@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1.6px;
}

.container {
	max-width: 1382px;
	height: auto;
	margin: 0 auto;
}

.content {
	position: absolute;
	z-index: 999;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.logo {
	width: auto;
	height: 80px;
	margin-right: 390px;
}

.nav {
	display: flex;
	align-items: center;
}

.nav__items {
	display: flex;
	gap: 60px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.link {
	text-decoration: none;
	color: black;
}

.nav__item {
	list-style-type: none;
	transition: all 0.2s ease;
}

.nav__item:hover {
	color: #93278F;
}

.active {
	color: #4F4F4F;
}

.link__button {
	display: flex;
	padding-left: 60px;
	gap: 27px;
}

.link__auth {
	padding: 11px 27px;
	background-color: #0E0E0E;
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	border-radius: 5px;

	transition: all 0.2s ease;
}

.link__auth:hover {
	border: 1px solid #000;
	background-color: #fff;
	color: #000;
}

.link__auth:active {
	position: relative;
	top: 1px;
}

.link__basket {
	padding: 11px 27px;
	background-color: #fff;
	border: 1px solid #0E0E0E;
	font-weight: 700;
	font-size: 12px;
	color: #0E0E0E;
	border-radius: 5px;

	transition: all 0.2s ease;
}

.link__basket:hover {
	color: #93278F;
	border: 1px solid #93278F;
}

.link__basket:active {
	position: relative;
	top: 1px;
}

.contacts {
	background-image: url(../img/contacts/background.png);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 20px 0 0;
}

.contacts__content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 210px;
}

.contacts__title {
	font-size: 60px;
	font-weight: 500;
	margin-top: 140px;
	text-align: center;
}

.content__left {
	margin-top: 280px;
	text-align: left;
}

.content__info {
	margin: 0 0 11px;
	font-size: 20px;
	font-weight: 700;
	color: #93278F;
}

.content__title {
	margin: 0 0 41px;
	font-size: 50px;
	font-weight: 500;
}

.content__desc {
	margin: 0 0 38px;
	max-width: 720px;
	font-size: 20px;
	font-weight: 300;
	line-height: 150%;
}

.icons__content {
	display: flex;
	gap: 40px;
}

.icons__content img {
	width: 28px;
	height: 28px;
}

.icons__content .icons__location {
	margin: 0 0 0 -2px;
	width: 32px;
	height: 32px;
}

.content__adress {
	position: relative;
	margin: 0 0 24px;
	font-size: 20px;
	font-weight: 500;
	color: #7D7D7D;
	cursor: pointer;

	transition: all 0.5s ease;
}

.content__adress:hover {
	color: #93278F;
}

.content__mail {
	margin: 0 0 24px;
	font-size: 20px;
	font-weight: 500;
	color: #7D7D7D;
	cursor: pointer;

	transition: all 0.5s ease;
}

.content__mail:hover {
	color: #93278F;
}

.content__phone {
	margin: 0 0 24px;
	font-size: 20px;
	font-weight: 500;
	color: #7D7D7D;
	cursor: pointer;

	transition: all 0.5s ease;
}

.content__phone:hover {
	color: #93278F;
}

.content__smartfone {
	margin: 0 0 24px;
	font-size: 20px;
	font-weight: 500;
	color: #7D7D7D;
	cursor: pointer;

	transition: all 0.5s ease;
}

.content__smartfone:hover {
	color: #93278F;
}

.content__right {
	position: relative;
	max-width: 500px;
	margin-top: 330px;
}

.form__row {
	display: flex;
	margin: 0 -20px;
}

.form__group {
	padding: 0 20px;
	flex: 1;
	position: relative;
}

input {
	font-family: 'Raleway', sans-serif;
	border: none;
	padding: 5px 30px 5px 0;
	font-size: 14px;
	font-weight: 400;
	outline: none;
	margin-bottom: 60px;
}

.input:focus + .label {
	transform: translateY(-18px);
	font-size: 12px;
}

.input:not(:placeholder-shown) + .label {
	transform: translateY(-18px);
	font-size: 12px;
}

.label {
	position: absolute;
	color: #000;
	top: 10px;
	left: 20px;

	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 300;
	pointer-events: none;
	transition: all .2s ease;
}

.textarea {
	min-height: 120px;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	resize: vertical;
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: 400;
	padding: 5px 0 0 0;
	margin-bottom: 20px;
}

.submit {
	display: flex;
	text-align: center;
	align-items: center;

	padding: 18px 34px;
	border: none;
	border-radius: 5px;
	color: #fff;
	background-color: #93278F;

	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;

	transition: all 0.4s ease;
}

.submit:hover {
	color:#93278F;
	border: 1px solid #93278F;
	background-color: #fff;
}

.input__row {
	display: flex;
	gap: 40px;
	margin-bottom: 50px;
}

.email {
	margin-bottom: 50px;
}

.map__content {
	margin-bottom: 130px;
	display: flex;
	justify-content: space-between;
	gap: 100px;
}

.footer {
	padding: 20px 0 0;
}

.footer__content1 {
	display: flex;
}

.footer__content1 .footer__img {
	margin: 0 auto;
}

.footer__title {
	margin-bottom: 30px;
	font-size: 50px;
	font-weight: 400;
	text-align: center;
	transition: all 1s ease;
	cursor: pointer;
}

.footer__title:hover {
	color: #93278F;
}

.footer__items {
	margin: 0 0 70px 570px;
	display: flex;
	gap: 37px;
}

.footer__img {
	transition: all 2s ease;
}

.footer__img {
    -webkit-transition: all 1s ease;
}

.footer__img:hover {
    -webkit-transform:scale(1.08);
}